In [7]:
import dask.dataframe as dd

In [8]:
# Load our data
df = dd.read_csv('weather_cleaned.csv')

In [9]:
df.head()

,date,year,month,day,tmp_c,dew_c,slp_hpa,vis_m,cloud_ceiling,wind_dir,wind_speed,station,call_sign,report_type,quality_control
0,1967-07-31 23:00:00,1967,7,31,26.8,21.8,1002.9,16000.0,2400.0,230.0,1.0,48855699999,IAHO,SAO,V020
1,1967-08-01 00:00:00,1967,8,1,27.4,22.4,1003.2,16000.0,2400.0,240.0,1.0,48855699999,IAHO,SAO,V020
2,1967-08-01 01:00:00,1967,8,1,29.1,21.8,1003.6,16000.0,22000.0,240.0,1.0,48855699999,IAHO,SAO,V020
3,1967-08-01 02:00:00,1967,8,1,30.2,22.4,1003.9,16000.0,22000.0,210.0,2.6,48855699999,IAHO,SAO,V020
4,1967-08-01 03:00:00,1967,8,1,31.3,21.3,1003.9,16000.0,22000.0,220.0,3.6,48855699999,IAHO,SAO,V020

In [10]:
df.columns

Index(['date', 'year', 'month', 'day', 'tmp_c', 'dew_c', 'slp_hpa', 'vis_m',
       'cloud_ceiling', 'wind_dir', 'wind_speed', 'station', 'call_sign',
       'report_type', 'quality_control'],
      dtype='object')

In [11]:
df.dtypes

date               string[pyarrow]
year                         int64
month                        int64
day                          int64
tmp_c                      float64
dew_c                      float64
slp_hpa                    float64
vis_m                      float64
cloud_ceiling              float64
wind_dir                   float64
wind_speed                 float64
station                      int64
call_sign          string[pyarrow]
report_type        string[pyarrow]
quality_control    string[pyarrow]
dtype: object